.footer {
  background-color: $light-black;
  padding: 60px 0 65px;
  color: rgba($white, .7);

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    &:hover,
    &:focus {
      opacity: .7;
    }

    &:active {
      opacity: .5;
    }
  }

  &__action {
    outline: none;

    &:not(:last-child) {
      margin-right: 40px;
    }

    &-svg {
      margin-right: 10px;
      fill: #FFC600;
    }

    &:hover,
    &:focus {
      opacity: .6;
    }

    &:active {
      opacity: .3;
    }

  }

  &__body {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
    display: flex;

    &-item:not(:last-child) {
      margin-right: 40px;
    }

    &-link {
      font-family: Gilroy, sans-serif;
      font-weight: 800;
      font-size: 18px;
      line-height: 24px;

      &:hover,
      &:focus {
        opacity: .6;
      }

      &:active {
        opacity: .3;
      }
    }

  }

}