.header {
  padding-top: 40px;

  &__inner {
    position: relative;
    padding: 40px 60px 50px;
    background-color: $yellow;
  }

  &__logo {
    display: flex;
    position: absolute;
    top: 0;
    line-height: 1;
    transform: translateY(-50%);
    outline: none;

    &:hover,
    &:focus {
      opacity: .7;
    }

    &:active {
      opacity: .5;
    }
  }

  &__row {
    display: flex;
  }

  &__col {
    width: 50%;
  }

  // Login button
  &__login,
  &__username {
    position: relative;
    padding-left: 25px;
    outline: none;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 2px;
      width: 13px;
      height: 12px;
      background-image: url('~@/assets/img/svg/user.svg');
      background-repeat: no-repeat;
    }

    &:hover,
    &:focus {
      opacity: .6;
    }

    &:active {
      opacity: .3;
    }

  }

  // Logout button
  &__logout {
    margin-left: 20px;
    opacity: .6;
  }

}

.search {

  &__label {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      width: 16px;
      height: 17px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-image: url('~@/assets/img/svg/search.svg');
      background-repeat: no-repeat;
    }

  }

  &__input {
    color: rgba($black, .3);
    border: none;
    border-bottom: 2px solid transparent;
    background-color: transparent;
    padding: 12px 40px;
    outline: none;
  }

  &__btn {
    border: 2px solid $black;
    padding: 0 20px;
    display: none;

    &:hover {
      background-color: $black;
      color: $white;
    }
  }

  // focus input
  &.active {

    .search__input {
      border-bottom: 2px solid $black;
      color: $black;
    }

    .search__btn {
      display: block;
    }

  }

}
