.header {
  padding-top: 40px;

  &__inner {
    position: relative;
    padding: 40px $padding-container 50px;
    background-color: $yellow;
  }

  &__logo {
    display: flex;
    position: absolute;
    top: 0;
    line-height: 1;
    transform: translateY(-50%);
    outline: none;

    &:hover,
    &:focus {
      opacity: .7;
    }

    &:active {
      opacity: .5;
    }
  }

  &__row {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 35px;
    }
  }

  &__col {
    width: 50%;
  }

  &__action {
    position: relative;
    padding-left: 25px;
    outline: none;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-repeat: no-repeat;
    }

    &:hover,
    &:focus {
      opacity: .6;
    }

    &:active {
      opacity: .3;
    }

    &.login:before {
      width: 13px;
      height: 12px;
      background-image: url('~@/assets/img/svg/user.svg');
    }

    &.compare:before {
      width: 10px;
      height: 10px;
      background-image: url('~@/assets/img/svg/compare.svg');
    }

    &.cart:before {
      width: 12px;
      height: 12px;
      background-image: url('~@/assets/img/svg/cart.svg');
    }

  }

  &__logout {
    margin-left: 20px;
    opacity: .6;
  }

  &__additional-buttons {
    justify-content: flex-end;

    & > *:not(:last-child) {
      margin-right: 36px;
    }
  }

  &__catalog {

    &-title {
      padding-right: 26px;
      position: relative;
      font-family: Gilroy, sans-serif;
      font-weight: 800;
      font-size: 20px;
      line-height: 24px;
      text-transform: uppercase;

      &:after {
        content: '';
        position: absolute;
        opacity: .6;
        right: 0;
        bottom: 6px;
        width: 16px;
        height: 16px;
        background-image: url('~@/assets/img/svg/plus.svg');
        transition: transform .3s;
      }

      &:hover,
      &:focus {
        opacity: .6;

        &:after {
          transform: rotate(90deg);
        }

      }

      &:active {
        opacity: .3;
      }

    }

  }

  &__catalog {
    position: relative;
  }

}

.search {

  &__label {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      width: 16px;
      height: 17px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-image: url('~@/assets/img/svg/search.svg');
      background-repeat: no-repeat;
    }

  }

  &__input {
    color: rgba($black, .3);
    border: none;
    border-bottom: 2px solid transparent;
    background-color: transparent;
    padding: 12px 40px;
    outline: none;
  }

  &__btn {
    border: 2px solid $black;
    padding: 0 20px;
    display: none;

    &:hover {
      background-color: $black;
      color: $white;
    }
  }

  // focus input
  &.active {

    .search__input {
      border-bottom: 2px solid $black;
      color: $black;
    }

    .search__btn {
      display: block;
    }

  }

}

.menu {

  &__item:last-child {
    margin-left: auto;
  }

  &__item:not(:last-child) {
    margin-right: 40px;
  }

  &__link {
    outline: none;
    font-family: Gilroy, sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;

    &:hover,
    &:focus {
      opacity: .6;
    }

    &:active {
      opacity: .3;
    }

  }

}

.header__catalog {
  display: inline-flex;
}

.header__catalog-title {
  position: relative;
  outline: none;
}

.catalog-popup {
  display: none;
  padding-top: 20px;

  &__inner {
    background-color: #F7E184;
    padding: 48px 60px;
  }

  &__list:not(:last-child) {
    margin-right: 50px;
  }

  &__item:not(:last-child) {
    margin-bottom: 20px;
  }

  &__link {
    white-space: nowrap;

    &:hover,
    &:focus {
      opacity: .6;
    }

    &:active {
      opacity: .3;
    }
  }

}

.header__catalog:hover .catalog-popup {
  display: block;
  position: absolute;
  top: 100%;
  z-index: 9999;
  left: -60px;
}
